<div class="main-wrapper">
    <div class="top-wrapper">
<div>
    <span class="font-proj">Projects</span>
</div>
<div>
    <span class="font-week">This Week</span>
    <span class="v-cls"><i class="bi bi-chevron-down"></i></span>
    <!-- <select selected="">
        <option value="none" selected disabled hidden>Select an Option</option>
        <option>Week</option>
        <option>Month</option>
        <option>Year</option>
    </select> -->
</div>
</div>
<div class="bottom-wrapper">
    <app-to-do-column [headerLabel]="'TO_DO'"></app-to-do-column>
    <app-to-do-column  [headerLabel]="'PROGRESS'"></app-to-do-column>
    <app-to-do-column  [headerLabel]="'COMPLETE'"></app-to-do-column>
</div>

</div>
