<div class="side-wrapper">


    <div class="heading">
        <div class="con-left"></div>
        <div class="con-right"><span>.Studio</span></div>
    </div>
    <div class="wrapper">
        <div class="flex-item">
            <div class="con-left"><i class="bi bi-clouds-fill"></i></div>
            <div class="con-right"><span>Overview</span></div>
            <!-- <div class="con-last"><span class="label-last">5</span></div> -->
        </div>
        <div class="flex-item">
            <div class="con-left"><i class="bi bi-clouds-fill"></i></div>
            <div class="con-right"><span>Stats</span></div>
            <!-- <div class="con-last"><span class="label-last">5</span></div> -->
        </div>
        <div class="flex-item">
            <div class="con-left"><i class="bi bi-clouds-fill"></i></div>
            <div class="con-right"><span>Projects</span></div>
            <!-- <div class="con-last"><span class="label-last">5</span></div> -->
        </div>
        <div class="flex-item">
            <div class="con-left"><i class="bi bi-clouds-fill"></i></div>
            <div class="con-right"><span>Chat</span></div>
            <div class="con-last"><span class="label-last">5</span></div>
        </div>
        <div class="flex-item">
            <div class="con-left"><i class="bi bi-clouds-fill"></i></div>
            <div class="con-right"><span>Calendar</span></div>
            <!-- <div class="con-last"><span class="label-last">5</span></div> -->
        </div>
        <!-- <div class="flex-item">
            <div class="con-left"><i class="bi bi-clouds-fill"></i></div>
            <div class="con-right"><span>Some Text</span></div>
            <div class="con-last"><span class="label-last">5</span></div>
        </div>
        <div class="flex-item">
            <div class="con-left"><i class="bi bi-clouds-fill"></i></div>
            <div class="con-right"><span>Some Text</span></div>
            <div class="con-last"><span class="label-last">5</span></div>
        </div> -->

    </div>
    <div class="footer">

    </div>

</div>
