.side-wrapper{
    width:20%;
    height: 100vh;
    /* background-color: aquamarine; */
    position: fixed;
    left: 0px;
    top:0px;
    border: 1px solid gray;
    border-collapse: collapse;
    box-shadow: 8px rgb(0,0,0,0.1);
    
}

.side-wrapper:hover{
    box-shadow: 8px rgb(0,0,0,0.4);
}

.con-left{
width: 12%;
display: inline-block;
}
.con-right{
display: inline-block;
width: 70%;
}
.wrapper{
    margin:0% 0% 0% 5%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.flex-item{
    width: 90%;
    margin: 3% 2%;
    padding:4%;
}
.flex-item:hover{
  border-right:4px solid green;
}
.heading{
    margin:10% 0% 20% 0%;
}

.footer{

}

.con-last{
    display: inline-block;
}
.label-last{
    display: inline-block;
    height: fit-content;
    width: fit-content;
    background-color: orange;
    color: white;
    color: white;
    border-radius: 5px;
    padding: 5px;
}